body {
	 background: #1f2224;
}
 .theme-btn {
	 background: #4699f9;
	 color: #fff;
	 border: 0 none;
}
 .theme-btn:hover {
	 background: #2b7bd6;
}
 .theme-btn:active {
	 background: #4699f9;
}
 .theme-btn[disabled] {
	 background: #535f77;
	 color: #cacaca;
}
 .theme-bg {
	 background: #0c1b32;
	 color: #bfbfbf;
}
 .theme-pane {
	 background: #1b3153;
	 color: #bfbfbf;
}
 .theme-title {
	 background: #0f2343;
	 color: #fff;
}
 .theme-link {
	 color: #fff;
}
 .theme-link:hover {
	 color: #4699f9;
}